<div class="">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Measurements</th>
      </tr>
    </thead>
    <tbody>
      <% @sensors.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.category %></td>
          <td><%= link_to "View", building_sensor_measurements_path(s.building, s) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
